.App {
  text-align: center;
  background-color: black;
  background-repeat: repeat;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper{
  position: relative;
  min-height: 100vh;
  color: antiquewhite;
  text-shadow: 0px 0px 10px black;
}

.Background{
  position: absolute;
  top: 5%;
  left: 0;
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  min-height: 102vh;
  overflow: hidden;
  opacity: .6;
}